{{#collection "Movies.titlesCollectionView" class="video-list" itemClass="video-item"}}
<div>
{{view "Movies.previewImageView" title=content}}
</div>
<div class="video-title">{{content.title}}</div>

{{/collection}}