<h1>SproutTV</h1>
<div id="playlist">
{{#collection Tv.VideoListView}}
  <p class="video-title">{{content.title}}</p>
  <p class="video-description">{{content.description}}</p>


  {{view Tv.VideoPlayer uri=content.uri}}


{{/collection}}
</div>

