.sc-main {
    background-color: #000 !important;
    color: #fff !important;
}

.info-view {
    background-color: #404040;
}

.video-item{
    display: block;
    clear: none;
    float: left;
    margin-right: 10px;
}

.video-list {
    width: 5000px;
    height: 180px;
}

.video-preview img {
    float: left;
}

.video-title span{
    float:right;
    text-align: center;
    font-size: 10px;
    padding-top: 116px;
    width: 160px;
}

#videoplayer{
    background-color: #811;
    min-width: 600px;
    width: 100%;
}

.video-player{
    width: 600px;
    height: 381px;
    text-align: center;
    background-color: #888;
    margin-left: 17%;
    margin-right: 10%;
    margin-top: 5%;
}